/* IMPORT GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Source+Code+Pro&display=swap');

/* PALETA DE DISEÑO */
:root {
    /* COLORES */
    --primary-color: #8E9AAF;
    --secondary-color: #CBC0D3;
    --accent-color: #EFD3D7;
    --accent2-color: #FEEAFA;
    --accent3-color: #DEE2FF;
    --border-color: #000;
    --background-color: #fff;

    /* FUENTES */
    --heading-font: 'Carter One', cursive;
    --paragraph-font: 'Source Code Pro', monospace;
}

* {
    margin: 0px;
    padding: 0px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1 {
    font-family: var(--heading-font);
}

#contenido {
    float: right;
    width: 220px;
    margin: 20px 0px;
    padding: 20px;
    background-color: var(--accent3-color);
}